<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/shController.js"></script>
    <link href="style/style.css" rel="stylesheet"/> 
</head>
<body ng-app="Module" ng-controller="mainController">
        
    <div ng-repeat = "test in Data" ng-controller="shController">

        <button ng-click="toggle('test.name')">{{test.name}}</button>
        <button ng-click="clearTest(test)">{{test.points + "/" + test.questions.length}}</button>
        
        <ul ng-repeat = "question in test.questions" ng-show="isShowing('test.name')">
            <li>{{question.question}}</li>
            
            <div ng-repeat = "answer in question.answers">
                <button ng-style="answer.color" ng-click="isRight(answer, test, question)">{{answer.answer}}</button>
            </div>
        </ul>
        
        <button ng-show="isShowing('test.name')" ng-click="toggle('test.name')">skry</button>
    </div>

</body>
</html>