.testName {
	display: table;
	width: 100%;
}

.testText {
	float: left;
	//background-color: red;
	display: table-cell;
	width: 92%;
	height: 100%;
}


.bTest, .SHBtn_def, .bTestH, .SHBtn_red, .SHBtn_gre {
	background-color: $dark;
	border:4px solid $dark;
	display:inline-block;
	cursor:pointer;
	font-size: 105%;
	font-weight:bold;
	padding:9px 23px;
	padding-left: 9px;
	text-decoration:none;


	display: table-cell;
	
	width: 80%;
	vertical-align: middle;
	@include noselect();

	&:hover {
		//border-left-style: solid;
		//border-left-color: $gray;
		background-color: $gray;
		border-radius: 10px;
	}
	&:active {
		position:relative;
		top:1px;
	}
}

.bTestH {
	width: 100%;
	text-align: left;
	background-color: $blue;
	color: $dark;
	border-radius: 10px;
	&:hover {		
		background-color: $darkBlue;
		color: $blue;
		border-radius: 10px;
	}
}

.SHBtn_def, .SHBtn_red, .SHBtn_gre {	
	padding:9px 9px;
	width: 20%;
	text-align: center;
	background-color: $blue;
	color: $dark;
	border-radius: 10px;
	&:hover {
		background-color: $darkBlue;
		color: $blue;
	}
}

.SHBtn_red {	
	background-color: $red;
	color: $dark;
	&:hover {
		background-color: $darkRed;
		color: $blue;
	}
}

.SHBtn_gre {	
	background-color: $green;
	color: $dark;
	&:hover {
		background-color: $darkGreen;
		color: $blue;
	}
}
