.bAnswer, .right, .wrong {
	cursor:pointer;
	@include noselect();
	padding:6px;
	font-size: 100%;

	border-width: 1px;
	border-style: solid;
	border-color: $lightGray;
	border-radius: 7px;
	margin-bottom: 5px;

	background-color: $gray;
	color: $blue;

	margin-top: 2px;
	
	&:hover {
		background-color: $darkBlue;
		color: $blue;
	}
	&:active {
		position:relative;
		top:1px;
	}
	
}
.right {
	background-color: $green;
	color: $dark;
	&:hover {
		background-color: $green;
		color: $dark;
	}
}
.wrong {
	background-color: $red;
	color: $dark;
	&:hover {
		background-color: $red;
		color: $dark;
	}
}
