$backgroundC: #202123;
$backgroundMain: #28292b;
$questionBackground: rgb(39, 35, 35);
$textColor: #e8eaed;
$btnHover: #3b4042;
$answerBackground: #3b4042;
$answerBorder: #89b4f7;
$testBorder: #89b4f7;

$btnN:#161616;
$btnA:#3D3D3D;

$desktop: 840px;
$picture: 470px;

@mixin desktop () {
	@media (min-width: #{$desktop}){
		@content;
	}
}

@mixin picture () {
	@media (min-width: #{$picture}){
		@content;
	}
}

@mixin noselect() {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
  }
  