@import "./variablesMixin";
@import "./btnTest";
@import "./arrow";


body {
	background: $backgroundC;
	overflow-y: scroll;
	color: $textColor;	
}
.main2 {
	background: $backgroundMain;
	border: 10px solid $backgroundMain;
	border-radius: 10px;
	box-shadow: 2px 2px 4px black;
	max-width: 100%;
	margin-bottom: 20px;
	@include desktop() {
		max-width: 813.168px;
		margin: auto;
		margin-bottom: 20px;
	}
}
.questinMain{
	background: $answerBackground;
	border: 10px solid $answerBackground;
	border-radius: 10px;
	box-shadow: 1px 1px 2px black;
	margin-bottom: 10px;
}

.main, footer {
	max-width: 100%;
	@include desktop() {
		max-width: 813.168px;
		margin: auto;
	}
}

footer {
	background: $backgroundC;
	padding:2% 5%;
}

.question {
	font-weight:bold;
	background: $btnHover;
	font-size: 100%;
	padding:9px;
	border:1px solid $answerBackground;
}


.bAnswer {
	cursor:pointer;
	@include noselect();
	//background: $answerBackground;
	padding:6px;
	font-size: 100%;


	border-style: solid;
	border-color: $answerBackground;

	background-color: $answerBorder;
	color: $backgroundMain;
	border-radius: 10px;

	margin-top: 2px;
	
	&:hover {
		background-color: #465269;
		color: $answerBorder;
	}
	&:active {
		position:relative;
		top:1px;
	}
	
}

img {
	display: block;
	width: 100%;
	height: auto;
	@include picture() {
		width: 415.2px;
	}
}